/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: visible;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundImage {
  background: url('https://r4.wallpaperflare.com/wallpaper/806/571/730/microsoft-windows-windows-10-galaxy-tent-wallpaper-a201d2a0cde69e2baad8a205f0a859c2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
}

.backgroundImage2 {
  background: url('https://r4.wallpaperflare.com/wallpaper/806/571/730/microsoft-windows-windows-10-galaxy-tent-wallpaper-a201d2a0cde69e2baad8a205f0a859c2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
}