/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: visible;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundImage {
  background: url('https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg');
  background-size: cover;
  filter: brightness(100%);
}

.backgroundImage2 {
  background: url('https://images.pexels.com/photos/6424584/pexels-photo-6424584.jpeg');
  background-size: cover;
  filter: brightness(100%);
}